<h1><%= t(".title") %></h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="field">
    <%= f.label t("attributes.email") %>
    <br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label t("attributes.password") %>
    <br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit t(".submit"), id: "create-session" %>
  </div>
<% end %>