<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <br>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <br>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :deadline_on %>
    <br>
    <%= form.date_field :deadline_on, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <br>
    <%= form.select :priority, Task.priorities.keys.to_a, { include_blank: ""}, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <br>
    <%= form.select :status, Task.statuses.keys.to_a, { include_blank: ""}, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :label %>
    <br>
    <%= form.collection_check_boxes(:label_ids, Label.where(user_id: @user.id), :id, :name, class: "form-check-label") %>
  </div>

  <div class="actions text-right">
    <% if task.persisted? %>
      <%= form.submit id:'update-task', class: "btn btn-primary" %>
    <% else %>
      <%= form.submit id:'create-task', class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
