<h1><%= t ".title" %></h1>

<%= form_with url: tasks_path, method: :get, class: "container", scope: :search, local: true do |f| %>
  <div class="form-row form-inline justify-content-between">
    <div class="status-search form-group col-3 flex-column">
      <%= f.label :status, t("attributes.status") %>
      <%= f.select :status, Task.statuses.keys.to_a, { include_blank: ""}, class: "form-control" %>
    </div>
    <div class="form-group col-4 flex-column">
      <%= f.label :title, t("attributes.title") %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group col-4 flex-column">
      <%= f.label :label, t("attributes.label") %>
      <%= f.select("label_id", Label.pluck(:name, :id), { include_blank: ""}, class: "form-control") %>
    </div>
  </div>
  <div class="mt-2 justify-content-end d-flex">
    <%= f.submit "検索", id: 'search_task', class: "btn btn-primary" %>
  </div>
<% end %>

<table class="table mt-5">
  <thead>
    <tr>
      <th><%= t "attributes.title" %></th>
      <th><%= t "attributes.content" %></th>
      <th><%= t "attributes.created_at" %></th>
      <th><%= link_to t("attributes.deadline_on"), sort_deadline_on: true %></th>
      <th><%= link_to t("attributes.priority"), sort_priority: true %></th>
      <th><%= t "attributes.status" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= task.deadline_on %></td>
        <th><%= task.priority %></th>
        <td><%= task.status %></td>
        <td><%= link_to t("tasks.index.show"), task, class: "show-task btn btn-primary" %></td>
        <td><%= link_to t("attributes.edit"), edit_task_path(task), class: "edit-task btn btn-primary" %></td>
        <td><%= link_to t("tasks.index.destroy"), task, class: "destroy-task btn btn-danger", method: :delete, data: { confirm: t("tasks.index.destroy_confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<br>
