<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :email %><br>
      <%= form.email_field :email, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :password %><br>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :admin %><br>
      <%= form.check_box :admin , class: "form-check"%>
    </div>
    <div class="actions text-right">
      <% if @user.persisted? %>
        <%= form.submit id: "update-user", class: "btn btn-primary mt-3" %>
      <% else %>
        <%= form.submit id: "create-user", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
    <br>
<% end %>