<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <li><%= link_to t("application.tasks_index"), tasks_path, id: "tasks-index" %></li>
      <li><%= link_to t("application.new_task"), new_task_path, id: "new-task" %></li>
      <li><%= link_to t("application.user_show"), user_path(current_user.id), id: "my-account" %></li>
      <li><%= link_to t("application.logout"), session_path(current_user.id), method: :delete, id: "sign-out" %></li>
    <% else %>
      <li><%= link_to t("application.new_user"), new_user_path, id: "sign-up" %></li>
      <li><%= link_to t("application.new_session"), new_session_path, id: "sign-in" %></li>
    <% end %>
    <ul>
    </ul>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>
  </body>
</html>
